.bot-logo-bottom {
  position: absolute;
  width: 50%;
  right: 100px;
  top: 70%;
  @media screen and (max-width: 900px) {
    top: 80%;
    right: 50%;
    transform: translateX(50%);
    position: static;
  }
  @media screen and (max-width: 500px) {
    top: 100%;
  }
}
