@import url("https://fonts.googleapis.com/css2?family=Alexandria:wght@100;200;300;400;600;700;800;900&family=Codystar:wght@300;400&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

:root {
  --color-link: #8899a8;
  --color-black: #000000;
  --color-bg: #fff;
  --text-color: #000;
  --text-title-color: #fff;

  /*font-sizes*/
  --font-size-menu-text: 14px;
  --font-size-menu-text-variant: 12px;
  --font-size-logo: 23px;
  --font-size-title: 32px;
  --font-size-subtitle: 20px;
  --font-size-text: 16px;

  /*font-weights*/
  --font-weight-bold: 700;
  --font-weight-normal: 400;
}

body {
  font-family: "Montserrat", sans-serif;
  background-color: var(--color-bg);
}

* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  box-sizing: border-box;
  background-color: transparent;
  border: none;
}

.link-open-arrow {
  transform: rotate(90deg);
}

.link-open {
  background: #1c1c1c;
  /* Glassy */
  backdrop-filter: blur(13.5723px);
  color: #fff !important;
  box-shadow: 0px 0px 0px 1px rgba(136, 153, 168, 0.4);
}

.link-open p {
  color: var(--text-title-color) !important;
}

.link-text-open {
  font-weight: var(--font-weight-bold) !important;
}
